<fieldset class="form-group"  >
  <div class ="col-md-6">
    <label>Plazo</label>
    <input type="text" class="form-control" ng-model="mensajeCtrl.Payload.Plazo" autocomplete="off">
  </div>
  <div class ="col-md-6">
      <label>Tasa</label>
      <input type="text" class="form-control" ng-model="mensajeCtrl.Payload.Tasa" autocomplete="off">
  </div>
  <div class ="col-md-6">
    <label>Tipo Valor</label>
    <input type="text" class="form-control" ng-model="mensajeCtrl.Payload.TipoValor" autocomplete="off">
  </div>
  <div class ="col-md-6">
    <label>Emisora</label>
    <input type="text" class="form-control" ng-model="mensajeCtrl.Payload.Emisora" autocomplete="off">
  </div>
  <div class ="col-md-6">
    <label>Serie</label>
    <input type="text" class="form-control" ng-model="mensajeCtrl.Payload.Serie" autocomplete="off">
  </div>
  <div class ="col-md-6">
    <label>Cupon</label>
    <input type="text" class="form-control" ng-model="mensajeCtrl.Payload.Cupon" autocomplete="off">
  </div>
  <div class ="col-md-6">
    <label>Mercado</label>
    <input type="text" class="form-control" ng-model="mensajeCtrl.Payload.Mercado" autocomplete="off">
  </div>
  <div class ="col-md-6">
    <label>Cantidad</label>
    <input type="text" class="form-control" ng-model="mensajeCtrl.Payload.Cantidad" autocomplete="off">
  </div>
  <div class ="col-md-6">
    <label>Precio</label>
    <input type="text" class="form-control" ng-model="mensajeCtrl.Payload.Precio" autocomplete="off">
  </div>
  <div class ="col-md-6">
    <label>Cuenta Receptor</label>
    <input type="text" class="form-control" ng-model="mensajeCtrl.Payload.CuentaReceptor" autocomplete="off">
  </div>
  <div class ="col-md-6">
    <label>Cuenta Traspasante</label>
    <input type="text" class="form-control" ng-model="mensajeCtrl.Payload.CuentaTraspasante" autocomplete="off">
  </div>
</fieldset>
