<fieldset class="form-group">
  <label>Tipo Pago</label>
  <select id="tipoPago" name="tipoPago" class="form-control" ng-model ="mensajeCtrl.TipoPago"
    ng-options="tipoPago.Nombre for tipoPago in mensajeCtrl.TiposPago"/>
</fieldset>
<fieldset class="form-group">
  <label>Número de Referencia de la Transacción</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.NumeroRT" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>Código de operación bancaria</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.CodigoOB" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>Fecha Valor/Moneda/Interbancaria importe liquidado</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.FechaVMI" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>Moneda/Cantidad ordenada original</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.MonedaCoo" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>Cliente ordenante</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.ClienteO" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>Institucion ordenante</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.InstitucionO" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>Corresponsal del remitente</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.CorresponsalR" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>Intermediario</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.Intermediario" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>Cuenta con la institución</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.CuentaCI" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>Beneficiario</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.Beneficiario" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>Información de remitencia</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.InformacionR" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>Los detalles de los cargos</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.DetallesC" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>Emisores o receptores Cargos</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.EmisoresRC" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>Informacion del remitente al receptor</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.InformacionRR" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>Suma de los importes</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.SumaI" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>Referencia relacionada</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.ReferenciaR" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>Fecha valor</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.FechaV" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>Fecha valor , CAD / USD Cantidad</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.FechaVCUC" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>CAD / USD Cantidad</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.Cdc" autocomplete="off">
</fieldset>
<fieldset class="form-group">
  <label>Institución beneficiaria</label>
  <input type="text" class="form-control" ng-model="mensajeCtrl.InstitucionB" autocomplete="off">
</fieldset>
