
<div class="row positionPrincipalDiv" ng-init="configContableCtrl.init()" style="padding-left:200px;">
    <div layout="row" style="height: 80px">
    </div>
        <form ng-submit="configContableCtrl.guardarConfig()" id="mascara" name="configContableCtrl.ConfigForm">
            <div layout="row" class="apesaFont14">
                <div flex="20">
                    <label>Longitud de Máscara</label>
                    <input id="longitudMascara" type="number" class="form-control" ng-model="configContableCtrl.longitudValor" tabindex="1"  maxlength="2" min="0" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" style="width:300px;" required/>
                </div>
                <div flex="10"></div>
                <div flex="20">
                    <label>Formato de Máscara</label>
                    <input id="formatoMascara" type="text" class="form-control" ng-model="configContableCtrl.formato.Valor" tabindex="2" maxlength="{{configContableCtrl.logitudRealMaxima}}" style="width:300px;" ng-blur="configContableCtrl.actualizaMascara()" required/>
                </div>
                <div flex="10"></div>
                <div flex="20">
                    <label>Porcentaje IVA</label>
                    <input id="porcentajeIva" type="text" class="form-control" ng-model="configContableCtrl.porcentajeIvaValor" tabindex="4" ng-blur="configContableCtrl.ngBlurPorcentajeIva()" maxlength="5"  ng-currency oninput="javascript: if (this.value.length > this.maxLength) {this.value = this.value.slice(0, this.maxLength)} if (this.value >= 100){this.value = 0 } if (this.value < 0){this.value = this.value * -1 }" style="width:200px;" required />
                </div>
            </div>
            <br/>    
            <div layout="row" class="apesaFont14">
                <div flex="20">
                    <label>Cuenta Contable IVA Cobrado</label>
                    <input id="ctaContableIvaCobrado" type="text" admin-mask mask="{{configContableCtrl.mascara}}" tabindex="5" mask-char="-" class="form-control" ng-model="configContableCtrl.ctaContableIvaCobrado.Valor" placeholder="{{configContableCtrl.mascara}}"tabindex="5" style="width:300px;" required/>
                </div>
                <div flex="10"></div>
                <div flex="20">
                    <label>Cuenta Contable IVA Pagado</label>
                    <input id="ctaContableIvaPagado" type="text" admin-mask mask="{{configContableCtrl.mascara}}" tabindex="6" mask-char="-" class="form-control" ng-model="configContableCtrl.ctaContableIvaPagado.Valor"  placeholder="{{configContableCtrl.mascara}}" tabindex="6" style="width:300px;" required/>
                </div>
            </div>
            <div layout="row" style="height: 30px"></div>
            <div layout="row"  >
                <div flex="50"></div>
                <div flex="5"></div>
                <div flex="25" style="text-align:center; padding-left:20px;">
                    <md-button class="md-raised md-primary" type="submit"  ng-disabled="configContableCtrl.ConfigForm.$invalid || !configContableCtrl.ConfigForm.$dirty || configContableCtrl.longValEqualsThanCharacNum">Guardar Configuración</md-button>
                </div>
            </div>
        </form>
</div>
<loading-modal class="modal show" loadshow="configContableCtrl.loading" data-backdrop="static" />
