<div style="padding-top: 5%;padding-top: 100px;" ng-init="loginCtrl.SentToLoginOAuth()">
</div>
<div class="col-xs-offset-3 container-fluid" style="width: 50%; border: 5px solid;border-color: #D6D6E2;background-color: white">
  <div style="padding-top: 5%">
    <div style="text-align: center;" >
      <img src="images/logo.png" class="mg-responsive" alt="" />
    </div>
  </div>
  <div style="padding-top: 5%;padding-bottom: 5%">
    <p style="text-align: center">Warning! This program is protected by copyright laws and international treaties. Any undue reproduction or redistribution of this program or any part thereof will be imputed to severe civil and criminal penalties and will be processed to the maximum extent possible under the law.</p>
    <br/>
    <div class="row">
      <strong class="navbar-left" style="padding-left: 5%;">Producto: Apesa.IkosCash</strong>
    </div>
    <div class="row">
      <strong class="navbar-left" style="padding-left: 5%">Compania: APESA Software S.C</strong>
      <strong class="navbar-right" style="padding-right: 5%">Copyright  © 2016</strong>
    </div>
  </div>
</div>
