<md-bottom-sheet class="conciliacion-manual" style="z-index:0;">
  <div layout="column" flex>
      <table st-table="conciliacionManCtrl.displayedCollectionDetailsA" st-safe-src="conciliacionManCtrl.dataDetailA" class="table-bordered table-striped ng-table-monitor">
        <thead style="border: 0;color: white;background: #22224b;z-index:1;">
          <tr>
            <th style="width:85px; max-width:85px; min-width:85px;text-align:center;" st-sort="Hora">Hora</th>
            <th style="width:58px; max-width:58px; min-width:58px;text-align:center;" st-sort="Origen">Origen</th>
            <th style="width:58px; max-width:58px; min-width:58px;text-align:center;" st-sort="Concepto"><md-tooltip md-direction="top">Concepto</md-tooltip>Cpto.</th>
            <th style="width:100px; max-width:100px; min-width:100px;text-align:center;" st-sort="Descripcion"><md-tooltip md-direction="top">Instrucción</md-tooltip>Instruc.</th>
            <th style="width:130px; max-width:130px; min-width:130px;text-align:center;" st-sort="Importe">Importe</th>
            <th style="width:47px; max-width:47px; min-width:47px;text-align:center;" st-sort="Sentido">Mov.</th>
            <th style="width:68px; max-width:68px; min-width:68px;text-align:center;" st-sort="Departamento"><md-tooltip md-direction="top">Departamento</md-tooltip>Depto.</th>
            <th style="width:51px; max-width:51px; min-width:51px;text-align:center;" st-sort="Plazo">Plazo</th>
            <th style="width:56px; max-width:56px; min-width:56px;text-align:center;" st-sort="Tasa">Tasa</th>
            <th style="width:30px; max-width:30px; min-width:30px;text-align:center;" st-sort="Tv">TV</th>
            <th style="width:68px; max-width:68px; min-width:68px;text-align:center;" st-sort="Emisora">Emisora</th>
            <th style="width:56px; max-width:56px; min-width:56px;text-align:center;" st-sort="Serie">Serie</th>
            <th style="width:60px; max-width:60px; min-width:60px;text-align:center;" st-sort="Cupon">Cupón</th>
            <th style="width:84px; max-width:84px; min-width:84px;text-align:center;" st-sort="Cantidad">Núm Títulos</th>
            <th style="width:94px; max-width:94px; min-width:94px;text-align:center;" st-sort="CuentaReceptor"><md-tooltip md-direction="top">Cuenta Receptor</md-tooltip>Cta. Recep.</th>
            <th style="width:89px; max-width:89px; min-width:89px;text-align:center;" st-sort="CuentaTraspasante"><md-tooltip md-direction="top">Cuenta Traspasante</md-tooltip>Cta. Trasp.</th>
            <th style="width:65px; max-width:65px; min-width:65px;text-align:center;" st-sort="DiasRetraso"><md-tooltip md-direction="top">Dias de Retraso</md-tooltip>Retraso</th>
            <th style="width:65px; max-width:65px; min-width:65px;text-align:center;" st-sort="Status">Estatus</th>
            <th style="text-align:center;"></th>
          </tr>
        </thead>
      </table>
      <div style="height:70px; overflow-y: scroll;">
        <table st-table="conciliacionManCtrl.displayedCollectionDetailsA" st-safe-src="conciliacionManCtrl.dataDetailA" class="table-bordered table-striped ng-table-monitor">
          <tr ng-repeat="registro in conciliacionManCtrl.displayedCollectionDetailsA">
            <td style="width:85px; max-width:85px; min-width:85px;" format={{registro.Hora}} tipo="Hora" title="'{{registro.Hora}}'"></td>
            <td style="width:58px; max-width:58px; min-width:58px;text-align:center;" title="'{{registro.Origen}}'">{{registro.Origen}}</td>
            <td title="'{{registro.Concepto}}'" style="width:58px; max-width:58px; min-width:58px;text-align:center;">{{(registro.Concepto.length >= 6 ? registro.Concepto.substring(0,5) + '...' : registro.Concepto)}}</td>
            <td title="'{{registro.Instruccion}}'" style="width:100px; max-width:100px; min-width:100px;text-align:center;">{{(registro.Instruccion.length >= 10 ? registro.Instruccion.substring(0,9) + '...' : registro.Instruccion)}}</td>
            <td style="width:130px; max-width:130px; min-width:130px;" format={{registro.Importe}} tipo="Numerico" title="'{{registro.Importe}}'"></td>
            <td title="'{{registro.Sentido}}'" style="width:47px; max-width:47px; min-width:47px;text-align:center;">{{registro.Sentido.substring(0,1)}}</td>
            <td style="width:68px; max-width:68px; min-width:68px;text-align:center;" title="{{registro.Departamento}}">{{(registro.Departamento.length >= 6 ? registro.Departamento.substring(0,5) + '...' : registro.Departamento)}}</td>
            <td style="width:51px; max-width:51px; min-width:51px;text-align:center;" title="'{{registro.Payload.Plazo}}'">{{registro.Payload.Plazo}}</td>
            <td title="{{registro.Payload.Tasa}}" style="width:56px; max-width:56px; min-width:56px;" format={{registro.Payload.Tasa}} tipo="Tasa"></td>
            <td style="width:30px; max-width:30px; min-width:30px;text-align:center;" title="'{{registro.Payload.Tv}}'">{{registro.Payload.Tv}}</td>
            <td style="width:68px; max-width:68px; min-width:68px;text-align:center;" title="'{{registro.Payload.Emisora}}'">{{registro.Payload.Emisora}}</td>
            <td style="width:56px; max-width:56px; min-width:56px;text-align:center;" title="'{{registro.Payload.Serie}}'">{{registro.Payload.Serie}}</td>
            <td style="width:60px; max-width:60px; min-width:60px;text-align:center;" title="'{{registro.Payload.Cupon}}'">{{registro.Payload.Cupon}}</td>
            <td title="{{registro.Payload.Cantidad}}" class="overflowContainerDropDown" style="width:84px; max-width:84px; min-width:84px;" format={{registro.Payload.Cantidad}} tipo="Number"></td>
            <td style="width:94px; max-width:94px; min-width:94px;text-align:center;" title="'{{registro.Payload.CuentaReceptor}}'">{{registro.Payload.CuentaReceptor}}</td>
            <td style="width:89px; max-width:89px; min-width:89px;text-align:center;" title="'{{registro.Payload.CuentaTraspasante}}'">{{registro.Payload.CuentaTraspasante}}</td>
            <td style="width:65px; max-width:65px; min-width:65px;text-align:center;" title="'{{registro.DiasRetraso}}'">{{registro.DiasRetraso | number}}</td>
            <td style="width:65px; max-width:65px; min-width:65px;text-align:center;" title="'{{registro.IdMotivoSistema === 24 ? 'Pre-Conciliada' : registro.Status}}'">{{registro.IdMotivoSistema === 24 ? registro.Status + '*' : registro.Status}}</td>
            <td style="text-align:center;">
            </td>
          </tr>
        </table>
      </div>
  </div>
  <br/>
  <div layout="column" flex>
    <table st-table="conciliacionManCtrl.displayedCollectionDetailsB" st-safe-src="conciliacionManCtrl.dataDetailB" class="table-bordered table-striped ng-table-monitor">
      <thead style="border: 0;color: white;background: #22224b;z-index:1;">
        <tr>
          <th style="width:85px; max-width:85px; min-width:85px;text-align:center;" st-sort="Hora">Hora</th>
          <th style="width:58px; max-width:58px; min-width:58px;text-align:center;" st-sort="Origen">Origen</th>
          <th style="width:58px; max-width:58px; min-width:58px;text-align:center;" st-sort="Concepto"><md-tooltip md-direction="top">Concepto</md-tooltip>Cpto.</th>
          <th style="width:100px; max-width:100px; min-width:100px;text-align:center;" st-sort="Descripcion"><md-tooltip md-direction="top">Instrucción</md-tooltip>Instruc.</th>
          <th style="width:130px; max-width:130px; min-width:130px;text-align:center;" st-sort="Importe">Importe</th>
          <th style="width:47px; max-width:47px; min-width:47px;text-align:center;" st-sort="Sentido">Mov.</th>
          <th style="width:68px; max-width:68px; min-width:68px;text-align:center;" st-sort="Departamento"><md-tooltip md-direction="top">Departamento</md-tooltip>Depto.</th>
          <th style="width:51px; max-width:51px; min-width:51px;text-align:center;" st-sort="Plazo">Plazo</th>
          <th style="width:56px; max-width:56px; min-width:56px;text-align:center;" st-sort="Tasa">Tasa</th>
          <th style="width:30px; max-width:30px; min-width:30px;text-align:center;" st-sort="Tv">TV</th>
          <th style="width:68px; max-width:68px; min-width:68px;text-align:center;" st-sort="Emisora">Emisora</th>
          <th style="width:56px; max-width:56px; min-width:56px;text-align:center;" st-sort="Serie">Serie</th>
          <th style="width:60px; max-width:60px; min-width:60px;text-align:center;" st-sort="Cupon">Cupón</th>
          <th style="width:84px; max-width:84px; min-width:84px;text-align:center;" st-sort="Cantidad">Núm Títulos</th>
          <th style="width:94px; max-width:94px; min-width:94px;text-align:center;" st-sort="CuentaReceptor"><md-tooltip md-direction="top">Cuenta Receptor</md-tooltip>Cta. Recep.</th>
          <th style="width:89px; max-width:89px; min-width:89px;text-align:center;" st-sort="CuentaTraspasante"><md-tooltip md-direction="top">Cuenta Traspasante</md-tooltip>Cta. Trasp.</th>
          <th style="width:65px; max-width:65px; min-width:65px;text-align:center;" st-sort="DiasRetraso"><md-tooltip md-direction="top">Dias de Retraso</md-tooltip>Retraso</th>
          <th style="width:65px; max-width:65px; min-width:65px;text-align:center;" st-sort="Status">Estatus</th>
          <th style="text-align:center;"></th>
        </tr>
      </thead>
    </table>
    <div style="height:70px; overflow-y: scroll;">
      <table st-table="conciliacionManCtrl.displayedCollectionDetailsB" st-safe-src="conciliacionManCtrl.dataDetailB" class="table-bordered table-striped ng-table-monitor">
        <tr ng-repeat="registro in conciliacionManCtrl.displayedCollectionDetailsB">
          <td style="width:85px; max-width:85px; min-width:85px;" format={{registro.Hora}} tipo="Hora" title="'{{registro.Hora}}'"></td>
          <td style="width:58px; max-width:58px; min-width:58px;text-align:center;" title="'{{registro.Origen}}'">{{registro.Origen}}</td>
          <td title="'{{registro.Concepto}}'" style="width:58px; max-width:58px; min-width:58px;text-align:center;">{{(registro.Concepto.length >= 6 ? registro.Concepto.substring(0,5) + '...' : registro.Concepto)}}</td>
          <td title="'{{registro.Instruccion}}'" style="width:100px; max-width:100px; min-width:100px;text-align:center;">{{(registro.Instruccion.length >= 10 ? registro.Instruccion.substring(0,9) + '...' : registro.Instruccion)}}</td>
          <td style="width:130px; max-width:130px; min-width:130px;" format={{registro.Importe}} tipo="Numerico" title="'{{registro.Importe}}'"></td>
          <td title="'{{registro.Sentido}}'" style="width:47px; max-width:47px; min-width:47px;text-align:center;">{{registro.Sentido.substring(0,1)}}</td>
          <td style="width:68px; max-width:68px; min-width:68px;text-align:center;" title="{{registro.Departamento}}">{{(registro.Departamento.length >= 6 ? registro.Departamento.substring(0,5) + '...' : registro.Departamento)}}</td>
          <td style="width:51px; max-width:51px; min-width:51px;text-align:center;" title="'{{registro.Payload.Plazo}}'">{{registro.Payload.Plazo}}</td>
          <td title="{{registro.Payload.Tasa}}" style="width:56px; max-width:56px; min-width:56px;" format={{registro.Payload.Tasa}} tipo="Tasa"></td>
          <td style="width:30px; max-width:30px; min-width:30px;text-align:center;" title="'{{registro.Payload.Tv}}'">{{registro.Payload.Tv}}</td>
          <td style="width:68px; max-width:68px; min-width:68px;text-align:center;" title="'{{registro.Payload.Emisora}}'">{{registro.Payload.Emisora}}</td>
          <td style="width:56px; max-width:56px; min-width:56px;text-align:center;" title="'{{registro.Payload.Serie}}'">{{registro.Payload.Serie}}</td>
          <td style="width:60px; max-width:60px; min-width:60px;text-align:center;" title="'{{registro.Payload.Cupon}}'">{{registro.Payload.Cupon}}</td>
          <td title="{{registro.Payload.Cantidad}}" class="overflowContainerDropDown"  style="width:84px; max-width:84px; min-width:84px;" format={{registro.Payload.Cantidad}} tipo="Number"></td>
          <td style="width:94px; max-width:94px; min-width:94px;text-align:center;" title="'{{registro.Payload.CuentaReceptor}}'">{{registro.Payload.CuentaReceptor}}</td>
          <td style="width:89px; max-width:89px; min-width:89px;text-align:center;" title="'{{registro.Payload.CuentaTraspasante}}'">{{registro.Payload.CuentaTraspasante}}</td>
          <td style="width:65px; max-width:65px; min-width:65px;text-align:center;" title="'{{registro.DiasRetraso}}'">{{registro.DiasRetraso | number}}</td>
          <td style="width:65px; max-width:65px; min-width:65px;text-align:center;" title="'{{registro.IdMotivoSistema === 24 ? 'Pre-Conciliada' : registro.Status}}'">{{registro.IdMotivoSistema === 24 ? registro.Status + '*' : registro.Status}}</td>
          <td style="text-align:center;">
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div style="height:50px;" layout="row">
    <div flex="60">
      <md-input-container flex="20">
        <label>Movimientos:</label>
        <input ng-model="conciliacionManCtrl.movimientosA" readonly>
      </md-input-container>
      <md-input-container flex="40">
        <label>Importe:</label>
        <input ng-model="conciliacionManCtrl.importeA | number:2" readonly>
      </md-input-container>
      <md-input-container flex="40">
        <label>Diferencia:</label>
        <input style="color:red" ng-model="conciliacionManCtrl.diferencia | number:2" readonly>
      </md-input-container>
    </div>
    <div flex="60" style="text-align: center;" ng-hide="conciliacionManCtrl.fechaHistorico">
      <md-button permisopantalla permiso="12" idpantalla="23" ng-show="conciliacionManCtrl.existN" ng-disabled="(conciliacionManCtrl.dataDetailA.length === 0 || conciliacionManCtrl.dataDetailB.length === 0 || (conciliacionManCtrl.origenA === 'EdoCta' && conciliacionManCtrl.origenB === 'EdoCta' && conciliacionManCtrl.existDiff))" class="md-raised md-primary" ng-click="conciliacionManCtrl.CheckFunction('Conciliar',false);">
        Conciliar
      </md-button>
      <md-button permisopantalla permiso="13" idpantalla="23" ng-show="conciliacionManCtrl.existDiff" ng-disabled="(conciliacionManCtrl.dataDetailA.length === 0 || conciliacionManCtrl.dataDetailB.length === 0 || conciliacionManCtrl.enableAjuste || (conciliacionManCtrl.origenA === 'EdoCta' && conciliacionManCtrl.origenB === 'EdoCta') )" class="md-raised md-primary" ng-click="conciliacionManCtrl.CheckFunction('Conciliar',true);">
        Ajustar
      </md-button>
      <md-button permisopantalla permiso="12" idpantalla="23" ng-show="conciliacionManCtrl.existConcil" class="md-raised md-primary" ng-click="conciliacionManCtrl.CheckFunction('Desconciliar',false);">
        Desconciliar
      </md-button>
      <md-button permisopantalla permiso="14" idpantalla="23" ng-disabled="conciliacionManCtrl.existConcil" ng-show="conciliacionManCtrl.dataDetailB.length === 1 && conciliacionManCtrl.dataDetailA.length === 0 && conciliacionManCtrl.origenB === 'EdoCta'" class="md-raised md-primary" ng-click="conciliacionManCtrl.confirmGenerateIngresos();"> <md-tooltip md-direction="top">Registrar como Ingreso No Identificado</md-tooltip>
        Ingreso N.I.
      </md-button>
      <md-button permisopantalla permiso="25" idpantalla="23" ng-disabled="conciliacionManCtrl.existPreConcil || conciliacionManCtrl.existConcil" ng-show="conciliacionManCtrl.dataDetailB.length === 0 && conciliacionManCtrl.dataDetailA.length === 1 && conciliacionManCtrl.origenA === 'Ikos' || conciliacionManCtrl.dataDetailB.length === 1 && conciliacionManCtrl.dataDetailA.length === 0 && conciliacionManCtrl.origenB === 'Ikos'" class="md-raised md-primary" ng-click="conciliacionManCtrl.PreconciliarOper();"> <md-tooltip md-direction="top">Pre-Conciliar Operacion</md-tooltip>
        Pre-Conciliar
      </md-button>
      <md-button permisopantalla permiso="27" idpantalla="23" ng-disabled="conciliacionManCtrl.existConcil" ng-show="conciliacionManCtrl.sumImportA > conciliacionManCtrl.sumImportB && conciliacionManCtrl.dataDetailA.length > 0 && conciliacionManCtrl.dataDetailB.length > 0 && conciliacionManCtrl.origenA === 'Ikos' && conciliacionManCtrl.origenB === 'EdoCta' || conciliacionManCtrl.sumImportB > conciliacionManCtrl.sumImportA && conciliacionManCtrl.dataDetailA.length > 0 && conciliacionManCtrl.dataDetailB.length > 0 && conciliacionManCtrl.origenA === 'EdoCta' && conciliacionManCtrl.origenB === 'Ikos'" class="md-raised md-primary" ng-click="conciliacionManCtrl.GetImporteOtherVia();">
        <md-tooltip md-direction="top">Conciliar con otra Via de Liquidación</md-tooltip>
        Otra Via
      </md-button>
    </div>
    <div flex="40">
      <md-input-container flex="30">
        <label>Movimientos:</label>
        <input ng-model="conciliacionManCtrl.movimientosB" readonly>
      </md-input-container>
      <md-input-container flex="50">
        <label>Importe:</label>
        <input ng-model="conciliacionManCtrl.importeB | number:2" readonly>
      </md-input-container>
    </div>
  </div>
</md-bottom-sheet>
