<md-dialog style="width:670px; height:auto;">
  <form style="padding-top:5px; overflow:hidden;" name="DepartamentoForm" class="form-horizontal" role="form" novalidate>
  <div layout="row" class="panel-body">
        <div flex></div>
        <div flex="10">
        <center>
          <button class="btn btn-primary btn-md" title="Cancelar y Cerrar" ng-click="closeDialog()" tabindex="1">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </center>
      </div>
  </div>
    <div layout="row" class="panel-body" >
      <div flex="100" style="margin-top:-20px;">
        <div class="form-group has-feedback">
          <center>
          <label for="ConceptoDepartamento" class="control-label" style="margin:-10px 0px 10px 0px;">Conceptos Asignados</label>
          </center>
          <div class="thumbnail thumbnail-area-drop" data-drop="true" ng-model='ceptosAsignados' ng-disabled="readOnlyEditDiv">
            <section class="drop" ng-show="dropSelected">
              <p class="info">Asignar concepto</p>
            </section>
            <div class="btn btn-draggable btn-drag-area" ng-repeat="item in ceptosAsignados" ng-show="item"  ng-model="ceptosAsignados" title="{{ item.Nombre }}">
             <div class="overflowContainer" style="font-size:10px; font-weight:bold;"> {{ item.Nombre }} </div>
            </div>
          </div>
        </div>
      </div>
      <div flex="5"></div>
    </div>
    <br>
    <div layout="row" class="panel-body" style="height:50px"></div>
  </form>
</md-dialog>
