<md-dialog class="confirm" ng-style="{'width': width}" style="heigth:300px;">
    <h4 style="padding-top:12px;padding-left:25px;font:150% sans-serif;">Atención</h4>
    <md-content style="padding-left:25px;padding-right:25px;">No es posible generar la contabilidad a día abierto. Verifique por favor.
        <br>
        <br>
        <br>
        <div style="text-align:right;">
            <md-button class="md-primary" ng-click="close()">Aceptar</md-button>
        </div>
    </md-content>
</md-dialog>