<md-dialog>
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Ikos Cash Net</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Close" ng-click="Close()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content class="modalDetalle" style="width:350px;">
                <md-content class="md-padding">
                  <center>
                      <label>{{version.Service}}: </label>
                      <label>{{version.VersionGen}}</label>
                  </center>
                </md-content>
            </md-dialog-content>
        </form>
    </md-dialog>