<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Detalle de Registro</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="Close()" aria-label="Cerrar">
                    <span class="glyphicon glyphicon-remove"></span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="modalDetalle">
            <md-content class="md-padding">
                  <div layout="row"  style="min-height:25px">
                      <div flex="25">
                                <strong>Cuenta</strong>
                      </div>
                      <div flex="25"  style="text-align:right;">
                          <p>{{registro.Cuenta}}</p>
                      </div>
                      <div flex="20"></div>
                      <div flex="25" style="text-align:left;">
                              <strong>Fecha de Operación</strong>
                      </div>
                      <div flex="25"  style="text-align:right;">
                              <p>{{registro.FechaOperacion.substring(0,10)}}
                                {{registro.FechaOperacion.substring(11,20)}}
                              </p>
                      </div>
                  </div>
                     <div layout="row"  style="min-height:25px">
                      <div flex="25">
                                <strong>Fecha</strong>
                      </div>
                      <div flex="25"  style="text-align:right;">
                           <p>{{registro.Fecha.substring(0,10)}}
                                {{registro.Fecha.substring(11,20)}}
                              </p>
                      </div>
                      <div flex="20"></div>
                      <div flex="25">
                              <strong>Referencia</strong>
                      </div>
                      <div flex="25" style="text-align:right;">
                              <p>
                                  {{registro.Referencia}}
                              </p>
                      </div>
                  </div>
                    <div layout="row"  style="min-height:25px">
                            <div flex="25">
                                    <strong>Cheque</strong>
                        </div>
                        <div flex="25" style="text-align:right;">
                            <p>{{registro.Cheque}}</p>
                        </div> 
    
                      <div flex="20"></div>
                      <div flex="25">
                              <strong>Código Transacción</strong>
                      </div>
                      <div flex="25"  style="text-align:right;">
                              <p>
                                  {{registro.Codigo_Transaccion}}
                              </p>
                      </div>
                  </div>
                    <div layout="row"  style="min-height:25px">
                        <div flex="25">
                                    <strong>Sucursal</strong>
                        </div>
                        <div flex="25" style="text-align:right;">
                            <p>{{registro.Sucursal}}</p>
                        </div>
                        <div flex="20"></div>
                        <div flex="25">
                                <strong>Depósito</strong>
                        </div>
                        <div flex="25" style="text-align:right;">
                                <p>
                                    {{registro.Deposito | number:2}}
                                </p>
                        </div>
                    </div>
                         <div layout="row"  style="min-height:25px">
                        <div flex="25">
                                    <strong>Retiro</strong>
                        </div>
                        <div flex="25" style="text-align:right;">
                            <p>{{registro.Retiro }}</p>
                        </div>
                        <div flex="20"></div>
                        <div flex="25">
                                <strong>Saldo</strong>
                        </div>
                        <div flex="25" style="text-align:right;">
                                <p>
                                    {{registro.Saldo | number:2}}
                                </p>
                        </div>
                    </div>
                     <div layout="row"  style="min-height:25px">
                        <div flex="25">
                                    <strong>Movimiento</strong>
                        </div>
                        <div flex="25" style="text-align:right;">
                            <p>{{registro.Movimiento}}</p>
                        </div>
                        <div flex="20"></div>
                        
                        <div flex="25">
                        </div>
                        <div flex="25">
                        </div> 
                    </div>
                    <div layout="row"  style="min-height:25px">
                        <div flex="25">
                                <strong>Descripción </strong>
                        </div>
                        <div flex  style="text-align:left;">
                                <p>
                                    {{registro.Descripcion}}
                                </p>
                        </div>
                    </div>
                        <div layout="row"  style="min-height:25px">
                            <div flex="25">
                                        <strong>Descripción Detallada</strong>
                            </div>
                            <div flex  style="text-align:left;">
                                <p>{{registro.Descripcion_Detallada}}</p>
                            </div>
                        </div>
                    </div>
            </md-content>
        </md-dialog-content>
    </form>
</md-dialog>

